.media--body{
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Work Sans', sans-serif;
  color: White;
}

.media-offer-card{
  background: linear-gradient(rgb(22, 22, 22), rgb(185, 179, 179));
}

.log-in-offer{
  width: 100%;
  border-bottom: 1px solid rgb(110, 110, 110);
  background-color: /*transparent*/ rgb(90, 90, 90) 40%;
  height: 40px;
  position: fixed;
  top: 4.5em;
  left: 0;
  right: 0;
  z-index: -2;
}

.log-in-to-offer{
  width: 250px;
  height: 41px;
  background: #E50914;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  margin: 21px auto 0 auto;
  transition: .7 ease;
}

.log-in-to-offer:hover{
  background-color: #bd0710;
  cursor: pointer;
}

.log-in-to-offer-container{
  width: 60%;
}

.offer--container{
  width: 100%;
  display: flex;
}

.offer{
  /*margin: 10vh auto 0;*/
  margin: 0 auto;
  padding: 10vh 0 0 0;
  width: 80%;
  display: flex;
  justify-content:space-between;
  position: relative;
}

.offer-description{
  padding: 4em 1em 0 1em;
  width: 60%;
  
}

.description-height{
  min-height: 624px;
  width: 60%;
}


@media (min-width: 770px) and (max-width: 1440px){
  .offer-description{
    padding: 7em 1em 0 1em;
    width: 60%;
    margin: 0 1em 0 -2em;
  }
}

@media(max-width:1440px){
  .offer{
    width: 100%;
    padding:1em 2em;
  }
}

.offer-title{
  font-size: 24px;
  font-weight: 600;
  padding: .5em 0;
}

.premierre-date{
  display: flex;
  flex-wrap:wrap;
  padding: 0 0 1em 0;
  align-items: center;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.premierre-date-country{
  height: 30px;
  min-width: 100px;
  max-width: 700px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  font-weight: 600;
  border-radius: 4px;
  margin: 0 .4em;
  padding: 0 8px;
}

.premierre-date-country:hover{
  cursor: pointer;
  background-color: grey;
  border: 2px solid rgb(73, 105, 228);
}

.slider-in-country--selection{
  display: none;
  flex-direction:column;
  width: 400px;
  max-width: 400px;
  font-size: 13px;
  background-color: #232323;
  margin:0;
}

.slider-in-country--selection-visible{
  display: flex;
  flex-direction:column;
  width: 400px;
  max-width: 400px;
  font-size: 13px;
  background-color: #232323;
  margin: 0;
  position: absolute;
  z-index: 100;
}

.underline{
  border-bottom: 1px solid rgb(73, 105, 228);
}

.button-media--text{
  font-size: 20px;
  font-family: inherit;
  color: #fff;
  text-decoration:underline;
  margin: 0 .4em 0 0;
}

.button-media--icon{
  display: block;
  width: .7em;
  height: 90%;
  background-image: url('./img/arrowdown.png');
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center;
}

.button-media--icon.active{
  background-image: url('./img/arrow-sort-up.png');
}


.button-media--icon-hidden{
display: none;
}

.button-media--icon-invisible{
  display: none;
}

.button-media--icon-visible{
  display: block;
}

.img--offer--button{
  width: 8px;
  height: 8px;
  margin: 0 7px;
}

.img-moving-icon{
  display: block;
  width: 12px;
  height: 12px;
  margin: 0 7px;
}

.summary{
  width: 95%;
  border:none;
  border-radius: 9px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
  background-color: #00000066;
  padding: 1em 1em 2em 1em;
  position: relative;
  z-index: -3;
  margin: 0 0 2em 0;
}

.summary h4{
  margin: .5em 0;
}

.summary p{
  margin: 0 0 2em 0;
  font-size: 13px;
  line-height: 1.7;
}


.summary--buttons button{
  background-color: transparent;
  font-family: inherit;
  font-size: 13px;
  color: #fff;
  padding: 4px 8px;
  font-weight: 500;
  border: 1px solid red;
  border-radius: 4px;
}

.offer--img{
  max-width:559px;
  width: 39%;
  /*width: 100%;*/
  /*height:auto;*/
  /*position:relative;*/
  
  position: absolute;
  top:0;
  right: 0;
  bottom: 5%;
  /*margin: 0 0 -60px 0;
  top: -95px;
  right: 0;
  z-index: -1;*/
}

.size-L{
  margin-top:0;
}

.size-S{
  margin-top:-5vh;
}

@media(max-width: 922px){
  .size-S{
    margin-top:0;
  }
  
}

.offer-image{
  width: 100%;
  height: auto;
  object-fit: fill;
  object-position: center;
  border: 1px solid black;
  border-radius: 4px;
}

.offer-image-blur{
  object-fit: fill;
  width: 100%;
  transform: translateY(3%);
  transition: .5s ease;
  border: 1px solid black;
  border-radius: 4px;
}

.offer-image-raise-height{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.checkImg{
  display: none;
  width: 10px;
  align-items: center;
  justify-content: center;
}
.checkImg img{
  width: 16px;
  height: 16px;
}

.checkImg-visible{
  width: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkImg-static{
  display: block;
  width: 15px;
  height: 15px;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  background-color: #161616;
}

/* nav */
.nav{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background: linear-gradient(rgb(31, 31, 31), transparent); 
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index:100;
}

.nav--container{
  width: 96%;
  display:flex;
  justify-content:space-between;
  background-color: linear-gradient(black, grey) ;
  position: absolute;
  top: 0;
  left: 2%;
  z-index:100;
  height: 8vh;
}

.netflix--logo--anchor{
  display:block;
  display: flex;
  align-items:center;
  justify-content: flex-start;
}

.netflix--nav--logo{
  display: flex;
  align-items:center;
  justify-content: flex-start;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.netflix--nav--logo-img{
  width: 110px;
  height: 30px;
  margin: 0 13px;
}

.burger-container{
  display: none;
  align-items: center;
  justify-content: center;
}

.hamburger--btn{
  width: 2em;
  height: 2em;
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: space-evenly;
  border: none;
  outline: none;
  display: none;
  margin: 0 1em;
}

.hamburger--btn:hover{
  cursor: pointer;
}

.line{
  width: 1.5em;
  height: .2em;
  background-color: #fff;
}

.menu--btn{
  display: flex;
  align-items:center;
  justify-content: flex-end;
}

.menu--button,
.menu--button2{
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0 30px 0 0 ;
  background-color: transparent;
  border: none;
}

.menu--button a{
  text-decoration: none;
  color: #fff;
}

.menu--button:hover,
.menu--button2:hover{
  cursor: pointer;
}

.btn-icon-arrow{
  width: 8px;
  height: 8px;
  margin-left: 8px;
  background-image: url('./img/arrow.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-site{
  display: none;
}

.resources{
  position: relative;
}

.resources--container{
  display: none;
  flex-direction: column;
  position: absolute;
  top:100%;
  right: 0;
  width:245px;
  background-color: rgb(45, 45, 45);
  line-height: 1.7;
  margin: 1em 0 0 0 ;
}

.resources--container.active{
  display: flex;
}

.resources-anchor{
  display: flex;
  align-items:center;
  justify-content:space-between;
  font-size: 13px;
  text-decoration: none;
  color:#fff;
  font-weight: 400;
  padding: 1em 1.5em;
}

.resources-anchor:hover{
  background-color: rgb(77, 76, 76);
}

.resources-img{
  width: 16px;
  height: 16px;
}

.arrow-up-right{
  width: 12px;
  height: 12px;
  background-image: url('./arrow-up-right-from-square-solid.svg');
  margin: 0 0 0 .3em;
  color: white;
}

.slider-btns{
  display: flex;
  align-items: center;
  justify-content:center;
}

.buttons-n-nav{
  display: flex;
  align-items: center;
  justify-content: center;
}

.resources-anchor{
  display: flex;
  align-items:center;
  justify-content:space-between;
  font-size: 13px;
  text-decoration: none;
  color:#fff;
  font-weight: 400;
  padding: 1em 1.5em;
}

.resources-anchor:hover{
  background-color: rgb(77, 76, 76);
}

.resources-img{
  width: 16px;
  height: 16px;
}

.arrow-up-right{
  width: 12px;
  height: 12px;
  background-image:  url('./img/arr1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 0 0 .5em;
}

.menuBtnImg{
  width: 8px;
  height: 8px;
  margin-left: 8px;
}

.aplly{
  width:67px;
  height:42px;
  border: 1px solid rgb(117, 117, 117);
  border-radius: 4px;
  margin: 0 5px 0 0;
}

.press--log{
  width:155px;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e50914;
  font-family: 'Work Sans', sans-serif;
  font-family: 13px;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin: 0 4px;
  padding: 8px 12px;
  transition: .25s ease;
}

.press--log:hover {
  cursor: pointer;
  background-color: rgba(229, 9, 20, 0.603);
}

.search{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 1px 6px;
  margin: 0 0 0 15px;
}

.burger-search{
  display: none;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 1px 6px;
  margin: 0 0 0 15px;
}

.search img,
.burger-search img{
  width: 20px;
  height: 20px;
}

.search:hover{
  cursor: pointer;
}

.first--background{
  width: 100%;
  /*height: 380px;*/
  background-image: url('./img/media/streams-bg.png');
  background-size: contain;
  background-repeat:repeat-y;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media--research{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 680px;
}

.media-title{
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  line-height: 1.2em;
  margin-top: 4em;
  padding: 0 1em;
}

.media--find{
  width: 90%;
  max-width: 540px;
  height: 20px;
  padding: 8px 8px 8px 8px;
  text-align: left;
  margin: 3em auto 6em;
  font-size: 12px;
  color: #E5E5E5;
  border: .1rem solid #7c7c7c;
  border-radius: 3px;
  background: transparent;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.1876em;
  letter-spacing: 0.00938em;
}

.film-search{
  display: flex;
  flex-direction: column;
  padding: 1em 1em 2em 1em;
  border-bottom: 1px solid rgb(75, 74, 74);
  margin: 0 0 1.5em 0;
  overflow: auto;
}

.research--title{
  font-size: 24px;
  color: #fff;
  padding: 1em 0;
  font-weight: 700;
}

/* nav buttons */

.research-buttons--container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btn--icon{
  width: 13px;
  height: 13px;
  margin: 0 4px 0 0;
}

.nav--button{
  height: 40px;
  background-color: #4E4E4E;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border:none;
  border-radius: 4px;
  margin: 0 6px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1em;
  transition: .5s ease;
}

.nav--button:hover{
  cursor: pointer;
  background-color: rgb(68, 96, 207);
}

.movie{
  width: 75px;
}

.series{
  width: 90px;
}

.document{
  width: 110px;
}

.kids{
  width: 105px;
}

.interactive{
  width:127px;
}

.realityTV{
  width: 108px;
}

.game{
  width: 67px;
}

.burger-nav-heading{
  display: none;
  width: 100%;
  margin:1em 0;
}

.burger-exit img{
  width: 30px;
  height: 30px;
  margin: 0 2em 0 0;
}

.burger-nav{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: flex-start;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

/* nav buttons - edn */

/* sliders */

.choose--lang-hidden{
  display: none;
  background-color: #232323;
  width: 100%;
  height: 400px;
  transform: translate(100%);
}

/* visible slider */

.choose--lang-visible{
  position: fixed;
  top: -80px;
  right:0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  height:800px;
  z-index: 90;
  transition: 10s ease-in-out;
}

.slider--exit{
  display: block;
  width: 100%;
  height: 50px;
  margin-top: 80px;
  padding: 80px 0 0 0;
  background-color: #232323;
}

.exit--button{
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  margin: .5em 1em;
  border:none;
  border-radius: 4px;
  background-color: #232323;
  transition: .3s ease;
}

.exit--button:hover{
  cursor: pointer;
  background-color: #5c5c5c;
}

.exitImg,
.exitCountry{
  float: right;
  width: 28px;
  height: 28px;
}

.question,
.question-country,
.question-hb{
  display: flex;
  align-items: center;
  justify-content:center;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  height: 30px;
  padding: 0 0 1em 0 ;
  background-color: #232323;
}

.question-hb{
  display: none;
}

.languages{
  display: block;
  width: 100%;
  background-color: #161616;
}

.languages--subcontainer{
  width: 50%;
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  background-color: #161616;
  margin: 0 auto;
}

.languages--choosing{
  display: flex;
  flex-direction: column;
}

.language-el{
  padding: 14px 24px 14px 59px;
  height: 30px;
  margin: 0;
  display: flex;
  align-items: center;
  transition: .1s ease;
}

.language-el:hover{
  cursor: pointer;
  background-color:#302f2f;
}

.left-side{
  width:232px;
}

.center-placed{
  width: 288px;
}

.right-side{
  width: 265px
}

/* slider country */

.slider-country{
  display: none;
  flex-direction: column;
  position: absolute;
  top:0;
  left:0;
  right: 0;
  z-index:90;
}

.slider-country-visible{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: -80px;
  left:0;
  right: 0;
  z-index: 90;
}

.country-select{
  width: 100%;
  height: 115px;
  padding: 4em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: contain;
  background-color: rgb(15, 15, 15);
  background-image: url('./img/media/country-select-background.svg');
  background-repeat: no-repeat;
  background-position-x: 70%;
  background-position-y: bottom;
  color: #fff;
  font-size: 13px;
}

.find--your--country{
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: #232323;
}

.country--selection{
  width: 382px;
  max-width: 382px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(68, 67, 67);
  border-radius: 4px;
  background-color:#161616;
  padding: 0 2%;
  position: relative;
}

.country{
  width: 80%;
  text-indent: 1em;
}

.country--arrow{
  width: 3%;
  height:90%;
  display: flex;
  align-items:flex-end;
  justify-content:center;
  background-image: url('./img/arrowdownSmall.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.country--arrow.active{
  background-image: url('./img/arrow-sort-up.png');
}

.countrySelectImg{
  width:8px;
  height: 8px;
  margin: 0 1em 0 0;
}

.slider--country--selection{
  display: none;
  flex-direction:column;
  width: 392px;
  max-width: 392px;
  /*position: absolute;
  top: 0;
  width: 100%;*/
}

.slider--country--selection-visible{
  display: flex;
  flex-direction:column;
  width: 392px;
  max-width: 392px;
}

.searching--pseudoclass{
  display: flex;
  align-items: center;
}

.search-style{
  width: 16px;
  height: 16px;
  padding: 0 1em;
}

.searching--country{
  width: 100%;
  height: 40px;
  background-color: #232323;
  border:none;
  color: #fff;
  font-size: 13px;
  text-indent: 1em;
}

.countries{
  height: 400px;
  overflow: auto;
}

.box-of-img{
  width: 7%;
  margin: .2em 0 .5em 0;
  padding:.2em 0 0 0;
}

.img--box{
  /*display: flex;*/
  display: none;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 .8em;
}

.img--box-visible{
  display: flex;
  align-items:flex-start;
  justify-content: center;
  margin: 0 0 0 .8em;
}

.checkedImg{
  width: 16px;
  height: 16px;
  margin-right: .7em;
}

.country-option,
.country-option-stats{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  /*text-indent: 1em;*/
  font-weight: 300;
  transition: .3s ease;
}

.country-option:hover,
.country-option-stats:hover{
  cursor: pointer;
  background-color:rgb(87, 85, 85);
  .img--box{
    display: flex;
  }
}

.movies--container--block{
 /*width: 98%;*/
 display: block;
 margin: 0 auto;
}

.movies {
  width: 90%;
  display: block;
  margin: 0 auto;
  padding: auto;
  /*padding: 0 2em;*/
}

.movies--container{
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  gap: 2em 1.7em; 
}

.movie--img{
  width:100%;
  height: auto;
  transition: .5s ease;
}

.example{
  height: auto;
  margin: 10px 5px 20px 5px;
}

.example:hover { transform: scale(1.05); }

.explanation{
  font-size: 13px;
  margin: .5em 0 0 0;
  color: #fff;
}

/* news */ 

.movies--news{
  background-color: #232323;
  width: 98%;
  padding: 1em;
  margin: 2em 0 0 0;
  display: flex;
  flex-direction: column;
}

.movies--news h3{
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  text-indent: 1em;
}

.movies--row{
  display: flex;
  padding: 0 1em;
  margin-left: -2em;
}

.movies--news--articles,
.movies--news--articles-border
{
  display: flex;
}

.movies--news--articles-border{
  border-right: 1px solid rgb(75, 75, 75);
  border-left: 1px solid rgb(75, 75, 75);
}

.article1,
.article2,
.article3
{
  max-width: 556px;
  /*width: 500px;*/
  min-width: 320px;
  height: 350px;
  margin: 1em;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 200px 0px 300px;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article1{
  background-image: /*linear-gradient(90deg, rgb(0,0, 0)0%, rgba (5, 5, 5, 0.67)44.01%, rgba(15, 15, 15, 0)100% ),*/ url('../img/movie/b.o.png');
}

.article2{
  background-image: url('./img/movie/HBH_Season_2_V4.jpg');
}

.article3{
  background-image: url('./img/movie/RunRabbitRun_Netflix_140.jpg');
}

.article--container{
  width: 85%;
}

.movie--title{
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.movie--country{
  font-size: 12px;
  color: #fff;
  background-color: transparent;
}

.read-more{
  font-size: 13px;
  color: #fff;
  background-color: transparent;
  width: 97px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content:center;
  font-family: inherit;
  padding: 6px 10px;
  border: 1px solid #555;
  border-radius: 4px;
  transition: .5s ease;
}

.read-more:hover{
  cursor: pointer;
  background-color: transparent;
}

.more--information{
  display: block;
  width: 323px;
  height:40px;
  padding: 8px 5px ;
  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  background-color: transparent;
  border: 1px solid #555;
  border-radius: 4px;
  text-align: center;
  margin: 3em auto 1em;
  transition: .5s ease;
  text-align:center;
}

.more--information:hover{
  cursor: pointer;
}

.company--assets{
  width: 100%;
  height:310px;
  background-image: url('./img/media/company_assets_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(50%);
  box-shadow: inset 0 0 700px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 90%;
}

.assets--research{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 3em 0;
  padding: 1em;
  text-align:right;
  align-items:flex-end;
  justify-content: center;
}

.assets--research h1{
  font-size: 28px;
  color:#fff;
  font-weight: 700;
}

.toggle{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.netflix--info{
  display: block;
  min-height: 40px;
  padding: 8px 10px ;
  font-family: inherit;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  background-color: transparent;
  border: 1px solid #555;
  border-radius: 4px;
  transition: .5s ease;
  margin: 1em 0 ;
}

@media(max-width: 600px){
  .log-in-offer{
    width: 100%;
    border-bottom: 1px solid rgb(110, 110, 110);
    background-color: /*transparent*/ rgb(90, 90, 90) 40%;
    height: 40px;
    position: sticky;
    top: 10vh;
    left: 0;
    right: 0;
    z-index: 200;
    margin: 86vh 0 0 0;
  }
}

@media (min-width:601px) and (max-width:769px){
  .log-in-offer{
    width: 100%;
    border-bottom: 1px solid rgb(110, 110, 110);
    background-color: /*transparent*/ rgb(90, 90, 90) 40%;
    height: 40px;
    position: sticky;
    top: 10vh;
    left: 0;
    right: 0;
    z-index: 200;
    margin: 100vh 0 0 0;
  }
}

@media (min-width: 770px) and (max-width:1397px){
  .offer{
    width: 90%;
    margin: 0 auto;
   
  }
}

@media(max-width: /*600px*/ 769px){
  .example{
    margin:  1em 7em;
   }

   .example:hover { transform: scale(1); }

   .offer{
    padding: 0 ;
    width: 100%;
    margin: 0;
  }

   .offer--img{
    width: 100%;
    max-width: 100%;
    height: 85vh;
    /*position:relative;
    margin: 0 0 -60px 0;
    top: -95px;
    right: 0;
    z-index: -1;*/
    position: fixed;
    top:0;
    left:0;
    right:0;
    /*bottom:10vh;*/
    z-index: -50;
    margin:0;
  }


  .offer-description{
    padding-top: 2em;
    width:100%;
    margin: 0 auto;
  }

  .offer-image{
    object-fit: fill;
    width: 100%;
  }

  .offer-image-blur{
    object-fit: fill;
    width: 100%;
    filter: blur(30px);
    transition: 1s ease;
  }

  .offer--container{
    width: 100%;
    display: flex;
    flex-direction: column;
  }


  
  .log-in-to-offer{
    /*width: 250px;*/
    width: 70%;
    height: 41px;
    background: #E50914;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    margin: 21px 0 0 50%;
    transition: .7 ease;
  }
  
  .log-in-to-offer:hover{
    background-color: #bd0710;
    cursor: pointer;
  }
  
  .log-in-to-offer-container{
    width: 60%;
  }
}

@media (max-width:1214px){
  .movies--news{
    overflow: auto;
  } 
}

 @media(max-width:767px){
  .movies--container{
     display: grid;
     grid-template-columns: 1fr;
     margin: 0 auto;
     gap: 1em;
   }

   .movie--img:hover{
    cursor: pointer;
    width: 100%;
    height: auto;
  }

  .offer--img{
    width: 100%;
    height: auto;
    /*position:relative;
    margin: 0 0 -60px 0;
    top: -95px;
    right: 0;
    z-index: -1;*/
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:90%;
    z-index: -50;
    margin:0;
  }
  
  .offer-image{
    width: 100%;
    height: auto;
  }

  .example:hover { transform: scale(1); }
 }

 @media (min-width:768px) and (max-width:990px){
  .movies--container{
     display: grid;
     grid-template-columns: 1fr 1fr;
     margin: 0 auto;
     gap: 1em;
   }
 }

 @media (min-width:991px) and (max-width:1191px){
  .movies--container{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     margin: 0 auto;
     gap: 1em;
   }
 }

 @media (min-width:1192px) and (max-width:1488px){
  .movies--container{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     margin: 0 auto;
     gap: 1em;
   }
 }

 @media(min-width:1489px) and (max-width:1783px){
  .movies--container{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     margin: 0 auto;
     gap: 1em;
   }
 }

 /* hamburger styling */

 @media(max-width: 959px){
  .nav--container{
    justify-content:center;
    align-items: center;
    position: relative;
  }

  .netflix--nav--logo{
    display: flex;
    flex-direction: column;
  }

  .menu--btn{
    display: none;
  }

.burger-nav-heading{
  display: flex;
  justify-content: space-between;
}

.menu--btn{
  display: none;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
}
 }

 @media(max-width:959px /*1279px*/){

  .menu--btn.active{
    position: fixed;
    display: flex;
    width: 100%;
    align-self: center;
    justify-content:flex-start;
    top:0;
    left: 0;
    right: 0;
    height:100vh;
    background-color: #232323; 
    flex-direction: column;
    padding: 1em;
    }

    .slider-btns{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      padding: 1em 0;
      border-bottom: .1em solid grey;
    }

  .grid1,
  .grid2{
    border: .5px solid lightgray;
    padding: .8em;
    border-radius: 4px;
    width: 7em;
    width: 45%;
  }

  .grid3,
  .grid4{
    width: 100%;
    display:flex;
    justify-content: space-between;
    border-bottom: .1em solid grey;
    padding: 2em;
  }

  .grid5,
  .grid6{
    width: 100%;
    margin: 1em 0;
  }

  .menuBtnImg{
    display:none;
  }

  .main-site{
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    color: #fff;
    background-color: transparent;
    border: none;
    outline:none;
    font-family: inherit;
    width: 100%;
    padding: 2em;
    border-bottom: .1em solid grey;
  }

  .burger-search{
    display: flex;
    position: absolute;
    left: 0;
  }

  .hamburger--btn{
    display: flex;
    position: absolute;
    right: 1%;
  }

  .search{
    display:none;
  }

  .press--log{
    width: 100%;
  }

  .buttons-n-nav{
    flex-direction: column-reverse;
    width: 90%;
    margin: 1em auto;
  }

  .buttons-n-nav.active{
    margin: 110px auto 1em;
  }

  .resources--container.active{
    width:100%;
    background-color:#232323; 
  }

  .choose--lang-visible{
    display: flex;
    flex-direction: column;
    /*position: absolute;*/
    height:100%;
    top: 150px;
    left:0;
    right:0;
    /*transition: height 8s ease-out ;*/
    z-index: 100;
    transform: translate(0%);
    position: fixed;
    left: 0;
    right:0;
    bottom:0;
    /*transition: 10s ease-in-out;*/
  }

  .choose--lang-visible.active{
    display: flex;
  }

  .question{
  display: none;
}

.question-hb{
  display: flex;
  padding:1em 0 ;
  position: fixed;
  top:20px;
  left:0;
  right: 0;
  z-index: 2000;
}

.question-hb.active{
  display: flex;
}

.slider--exit{
  display: none;
  overflow: scroll;
}

.languages{
  position: relative;
  top:50px;
  left: 0;
  right: 0;
  /*bottom:0;*/
  height: 100%;
}

.languages--subcontainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  background-color: #161616;
  margin: 0 auto;
  position: absolute;
  top:30px;
  /*bottom:0;*/
  height:100%;
  overflow: scroll;
}

.language-el{
  padding: 14px 20px 14px;
  height: 30px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .1s ease;
}

.left-side,
.center-placed,
.right-side{
  width: 100%;
}

.slider-country-visible{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  z-index: 200;
}

.question-country{
  padding: 1em 0 0 0;
  position:fixed;
  display: none;
  top:150px;
  left: 0;
  right: 0;
}

.question-country.active{
  display: flex;
}

.country--selection{
  display: none;
}
  
.country-select{
  background-color: #232323;
  background-image: none;
  padding:0; 
  font-size: 17px;
  text-align: center;
  line-height: 1.7;
  position: fixed;
  top:210px;
  bottom:0;
  height:100%;
}

.country-select p{
  margin: 0 1em;
}

.find--your--country{
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height:100%;
}

.searching--pseudoclass{
  display: none;
}

.countries{
  height: 100%;
  overflow: auto;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#232323 ;
}

.slider--country--selection{
  display: flex;
  flex-direction:column;
  width: 100%;
  max-width: 100%;
  height:100%;
  box-sizing: border-box;
  background-color:#232323 ;
}

.country--name{
  font-size: 15px;
}

.btn-icon-arrow{
  background-image: url('./img/arrow-expand-down.png');
  width: 12px;
  height:12px;
}

.btn-icon-arrow.active{
  background-image: url('./img/arrow-expand-up.png');
}

.language-responsive-container{
  display: none
}

.language-responsive-container.active{
  display: block;
  height: 100%;
  width: 100%;
}

.country-responsive-hb{
  display: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.country-responsive-hb.active{
  display: block;
  position: fixed;
  top:10vh;
  left:0;
  z-index: 1000;
}
  }
  
 @media(min-width: 960px) and (max-width:1279px){
  .nav--container{
    justify-content:flex-start;
    align-items: center;
    position: relative;
    background-color: linear-gradient(black, grey) ;
  }

  .menu--btn{
    display: none;
  }

  .menu--btn.active{
    display: flex;
  }

  .burger-search{
    display: flex;
    position: absolute;
    right: 5%;
  }

  .hamburger--btn{
    display: flex;
    position: absolute;
    right: 0;
  }

  .burger-search{
    display: flex;
    position: fixed;
    left: 88%;
    width: 2em;
  }

  .menu--btn{
    display: none;
  }

  .burger-nav{
    display: none;
  }

  .burger-nav-heading{
    display: flex;
    justify-content: space-between;
  }
  
  .burger-exit{
    display: none;
  }

 }

 footer{
  width: 90%;
  padding: 2% 5%;
}



