/* sliders */

.choose--lang-hidden{
    display: none;
    background-color: #232323;
    width: 100%;
    height: 400px;
    transform: translate(100%);
  }
  
  /* visible slider */
  
  .choose--lang-visible{
    position: fixed;
    top: -80px;
    right:0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    height:800px;
    z-index: 90;
    transition: 10s ease-in-out;
  }
  
  .slider--exit{
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 80px;
    padding: 80px 0 0 0;
    background-color: #232323;
  }
  
  .exit--button{
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin: .5em 1em;
    border:none;
    border-radius: 4px;
    background-color: #232323;
    transition: .3s ease;
  }
  
  .exit--button:hover{
    cursor: pointer;
    background-color: #5c5c5c;
  }
  
  .exitImg,
  .exitCountry{
    float: right;
    width: 28px;
    height: 28px;
  }
  
  .question,
  .question-country,
  .question-hb{
    display: flex;
    align-items: center;
    justify-content:center;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    height: 30px;
    padding: 0 0 1em 0 ;
    background-color: #232323;
  }
  
  .question-hb{
    display: none;
  }
  
  .languages{
    display: block;
    width: 100%;
    background-color: #161616;
  }
  
  .languages--subcontainer{
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    background-color: #161616;
    margin: 0 auto;
  }
  
  .languages--choosing{
    display: flex;
    flex-direction: column;
  }
  
  .language-el{
    padding: 14px 24px 14px 59px;
    height: 30px;
    margin: 0;
    display: flex;
    align-items: center;
    transition: .1s ease;
  }
  
  .language-el:hover{
    cursor: pointer;
    background-color:#302f2f;
  }
  
  .left-side{
    width:232px;
  }
  
  .center-placed{
    width: 288px;
  }
  
  .right-side{
    width: 265px
  }
  
  /* slider country */
  
  .slider-country{
    display: none;
    flex-direction: column;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    z-index:90;
  }
  
  .slider-country-visible{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -80px;
    left:0;
    right: 0;
    z-index: 90;
  }
  
  .country-select{
    width: 100%;
    height: 115px;
    padding: 4em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: contain;
    background-color: rgb(15, 15, 15);
    background-image: url('./img/media/country-select-background.svg');
    background-repeat: no-repeat;
    background-position-x: 70%;
    background-position-y: bottom;
    color: #fff;
    font-size: 13px;
  }
  
  .find--your--country{
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #232323;
  }
  
  .country--selection{
    width: 382px;
    max-width: 382px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(68, 67, 67);
    border-radius: 4px;
    background-color:#161616;
    padding: 0 2%;
    position: relative;
  }
  
  .country{
    width: 80%;
    text-indent: 1em;
  }
  
  .country--arrow{
    width: 3%;
    height:90%;
    display: flex;
    align-items:flex-end;
    justify-content:center;
    background-image: url('./img/arrowdownSmall.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  
  .country--arrow.active{
    background-image: url('./img/arrow-sort-up.png');
  }
  
  .countrySelectImg{
    width:8px;
    height: 8px;
    margin: 0 1em 0 0;
  }
  
  .slider--country--selection{
    display: none;
    flex-direction:column;
    width: 392px;
    max-width: 392px;
  }
  
  .slider--country--selection-visible{
    display: flex;
    flex-direction:column;
    width: 392px;
    max-width: 392px;
  }
  
  .searching--pseudoclass{
    display: flex;
    align-items: center;
  }
  
  .search-style{
    width: 16px;
    height: 16px;
    padding: 0 1em;
  }
  
  .searching--country{
    width: 100%;
    height: 40px;
    background-color: #232323;
    border:none;
    color: #fff;
    font-size: 13px;
    text-indent: 1em;
  }
  
  .countries{
    height: 400px;
    overflow: auto;
  }
  
  .box-of-img{
    width: 7%;
    margin: .2em 0 .5em 0;
    padding:.2em 0 0 0;
  }
  
  .img--box{
    display: none;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 .8em;
  }
  
  .img--box-visible{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    margin: 0 0 0 .8em;
  }
  
  .checkedImg{
    width: 16px;
    height: 16px;
    margin-right: .7em;
  }
  
  .country-option,
  .country-option-stats{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: 300;
    transition: .3s ease;
  }
  
  .country-option:hover,
  .country-option-stats:hover{
    cursor: pointer;
    background-color:rgb(87, 85, 85);
    .img--box{
      display: flex;
    }
  }

  .slider-in-country--selection{
    display: none;
    flex-direction:column;
    width: 400px;
    max-width: 400px;
    font-size: 13px;
    background-color: #232323;
    margin:0;
  }
  
  .slider-in-country--selection-visible{
    display: flex;
    flex-direction:column;
    width: 400px;
    max-width: 400px;
    font-size: 13px;
    background-color: #232323;
    margin: 0;
    position: absolute;
    z-index: 100;
  }
