.media-offer-card{
    background: linear-gradient(rgb(22, 22, 22), rgb(185, 179, 179));
  }
  
  .log-in-offer{
    width: 100%;
    border-bottom: 1px solid rgb(110, 110, 110);
    background-color: /*transparent*/ rgb(90, 90, 90) 40%;
    height: 40px;
    position: fixed;
    top: 4.5em;
    left: 0;
    right: 0;
    z-index: -2;
  }
  
  .log-in-to-offer{
    width: 250px;
    height: 41px;
    background: #E50914;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    margin: 21px auto 0 auto;
    transition: .7 ease;
  }
  
  .log-in-to-offer:hover{
    background-color: #bd0710;
    cursor: pointer;
  }
  
  .log-in-to-offer-container{
    width: 60%;
  }
  
  .offer--container{
    width: 100%;
    display: flex;
  }
  
  .offer{
    margin: 0 auto;
    padding: 10vh 0 0 0;
    width: 80%;
    display: flex;
    justify-content:space-between;
    position: relative;
  }
  
  .offer-description{
    padding: 4em 1em 0 1em;
    width: 60%;
    
  }

  @media (min-width: 770px) and (max-width: 1440px){
    .offer-description{
      padding: 7em 1em 0 1em;
      width: 60%;
      margin: 0 1em 0 -2em;
    }
  }
  
  @media(max-width:1440px){
    .offer{
      width: 100%;
      padding:1em 2em;
    }
  }
  
  .offer-title{
    font-size: 24px;
    font-weight: 600;
    padding: .5em 0;
  }

  .img--offer--button{
    width: 8px;
    height: 8px;
    margin: 0 7px;
  }

  .offer--img{
    max-width:559px;
    width: 39%;
    position: absolute;
    top:0;
    right: 0;
    bottom: 5%;
  }

  .offer-image{
    width: 100%;
    height: auto;
    object-fit: fill;
    object-position: center;
    border: 1px solid black;
    border-radius: 4px;
  }
  
  .offer-image-blur{
    object-fit: fill;
    width: 100%;
    transform: translateY(3%);
    transition: .5s ease;
    border: 1px solid black;
    border-radius: 4px;
  }
  
  .offer-image-raise-height{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  @media(max-width: 600px){
    .log-in-offer{
      width: 100%;
      border-bottom: 1px solid rgb(110, 110, 110);
      background-color: /*transparent*/ rgb(90, 90, 90) 40%;
      height: 40px;
      position: sticky;
      top: 10vh;
      left: 0;
      right: 0;
      z-index: 200;
      margin: 86vh 0 0 0;
    }
  }
  
  @media (min-width:601px) and (max-width:769px){
    .log-in-offer{
      width: 100%;
      border-bottom: 1px solid rgb(110, 110, 110);
      background-color: /*transparent*/ rgb(90, 90, 90) 40%;
      height: 40px;
      position: sticky;
      top: 10vh;
      left: 0;
      right: 0;
      z-index: 200;
      margin: 100vh 0 0 0;
    }
  }
  
  @media (min-width: 770px) and (max-width:1397px){
    .offer{
      width: 90%;
      margin: 0 auto;
    }
  }

  @media(max-width: /*600px*/ 769px){
    .example{
      margin:  1em 7em;
     }
  
     .example:hover { transform: scale(1); }
  
     .offer{
      padding: 0 ;
      width: 100%;
      margin: 0;
    }
  
     .offer--img{
      width: 100%;
      max-width: 100%;
      height: 85vh;
      position: fixed;
      top:0;
      left:0;
      right:0;

      z-index: -50;
      margin:0;
    }
  
    .offer-description{
      padding-top: 2em;
      width:100%;
      margin: 0 auto;
    }
  
    .offer-image{
      object-fit: fill;
      width: 100%;
    }
  
    .offer-image-blur{
      object-fit: fill;
      width: 100%;
      filter: blur(30px);
      transition: 1s ease;
    }
  
    .offer--container{
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  
    .log-in-to-offer{
      width: 70%;
      height: 41px;
      background: #E50914;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 4px;
      margin: 21px 0 0 50%;
      transition: .7 ease;
    }
    
    .log-in-to-offer:hover{
      background-color: #bd0710;
      cursor: pointer;
    }
    
    .log-in-to-offer-container{
      width: 60%;
    }
  }

  @media (max-width:1214px){
    .movies--news{
      overflow: auto;
    } 
  }
  
   @media(max-width:767px){
    .movies--container{
       display: grid;
       grid-template-columns: 1fr;
       margin: 0 auto;
       gap: 1em;
     }
  
     .movie--img:hover{
      cursor: pointer;
      width: 100%;
      height: auto;
    }
  
    .offer--img{
      width: 100%;
      height: auto;
      position: fixed;
      top:0;
      left:0;
      right:0;
      bottom:90%;
      z-index: -50;
      margin:0;
    }
    
    .offer-image{
      width: 100%;
      height: auto;
    }
  
    .example:hover { transform: scale(1); }
   }
